<%#
	Edge2 is a clean HTML5 theme for LuCI. It is based on luci-theme-material Edge2 Template

	luci-theme-edge2
	Copyright 2020 Jerrykuku <jerrykuku@qq.com>

	Have a bug? Please create an issue here on GitHub!
	https://github.com/jerrykuku/luci-theme-edge2/issues

	luci-theme-material:
	Copyright 2015 Lutty Yang <lutty@wcan.in>

	Agron Theme
	https://demos.creative-tim.com/edge2-dashboard/index.html

	Licensed to the public under the Apache License 2.0
-%>

<% local ver = require "luci.version" %>
</div>
<footer>
	<div>
		<a href="https://yuos.top" target="_blank">小渔学长</a> /
		<a class="luci-link" href="https://github.com/openwrt/luci" target="_blank">Powered by <%= ver.luciname %></a> /
		<a href="https://github.com/yuos-bit/luci-theme-edge/tree/debug" target="_blank">EdgeTheme <%# vPKG_VERSION %></a>
	</div>
</footer>
</div>
</div>
<script>
	// thanks for Jo-Philipp Wich <jow@openwrt.org>
	var luciLocation = <%= luci.http.write_json(luci.dispatcher.context.path) %>;
	var winHeight = $(window).height();
	$(window).resize(function () {
		var winWidth = $(window).width()
		if(winWidth < 600){
			var newHeight = $(this).height();
			var keyboradHeight = newHeight - winHeight;
			$(".ftc").css("bottom", keyboradHeight + 30);
		}
	})
</script>
</body style="background: linear-gradient(135deg, #0066cc 0%, #0055aa 100%);">
</html>
